#info{
	background-image: url("./../assets/img/fondo.jpg");	
}

.cajai{
	color: #FFFFFF;
	padding: 20px;
	text-align:center;
	background-color: rgba(117,41,149,0.7);
}
.infos{
	font-size: 40px;
	margin: auto;
	color: #FFFFFF;
}

.foot{
	text-align: center;
}